Xcursor.theme: posy-black-tiny
! also set with lxappearance and double check the following:
! /usr/share/icons/default/index.theme
! ~/.icons/default/index.theme
! ~/.config/gtk-3.0/settings.ini
! ~/.gtkrc-2.0

xterm*name:             xterm-256color
xterm*locale:           true
xterm*utf8:             2
!xterm*faceName:         xft:monospace:size=10
xterm*faceName:         xft:Fira Code:size=10
xterm*dynamicColors:    true

XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?


URxvt.font: xft:Fantasque Sans Mono:size=15
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*scrollBar: false
!clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! -----------------------------------------------------------------------------
! File: gruvbox-urxvt256.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 13 Dec 2013
! -----------------------------------------------------------------------------

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

! Gruvbox dark material

*background: #1d2021
*foreground: #d4be98
! Black + DarkGrey
*color0:  #32302f
*color8:  #32302f
! DarkRed + Red
*color1:  #ea6962
*color9:  #ea6962
! DarkGreen + Green
*color2:  #a9b665
*color10: #a9b665
! DarkYellow + Yellow
*color3:  #e78a4e
*color11: #e78a4e
! DarkBlue + Blue
*color4:  #7daea3
*color12: #7daea3
! DarkMagenta + Magenta
*color5:  #d3869b
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #89b482
*color14: #89b482
! LightGrey + White
*color7:  #d4be98
*color15: #d4be98
